$primary-color:#000;
$header-color:#fff;

$base-font: 'Roboto', sans-serif;
$font-size:13px;
$font-big:90px;
$font-exbig:80px;
$font-med:40px;
$font-norm:18px;
$font-display:22px;

$responsive-font-big:55px;
$responsive-font-small:15px;

$size-h2:40px;

$color-contentA:#fff;
$color-contentB:#000;


